/.idea/

/bitrix/

/local/php_interface/logs/
/local/logs/

/upload/

/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

*.xml
*.html
*.txt
*.log
*.css.map

*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

!/robots.txt

composer.phar
/vendor/

node_modules
bower_components
.grunt
.npm
.env

/xhprof/logs